body{
    background:#454545;
    line-height: 1.7;
}
a,body{
    color: #eee;
}
a{
    text-decoration: none;
}
.side-bar{
    float: left;
    width: 20%;
    position: fixed;
}
.side-bar > *{
    padding: 10px 15px;
}
.side-bar .nav a,.side-bar .tag-list a{
    padding:8px 0;
    color: #777;
    display: block;
    transition:color 600ms;
}
.side-bar .nav a{
    font-weight: 800;
    color: #888;
}
.side-bar .nav a:hover,.side-bar .tag-list a:hover{
    color: #eee;
}
.main{
    float: right;
    width: 80%;
    color: #454545;
}
.header .logo{
    line-height: 1;
    border: 5px solid #eee;
    padding: 10px 20px;
    font-size: 30px;
    display: inline-block;
    margin-bottom: 10px;
}
.article-list,.article{
    background: #fff;
    margin-right: 20%;
    padding: 20px 30px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
}
.article-list .item .title,.article .title{
    color: #454545;
    font-size: 22px;
    font-weight: 700;
}
.article-list .item .status,.article .status{
    font-size: 13px;
    color: #ccc;
}
.article-list .item > *{
    margin: 10px 0;
}
.article-list .item,.article{
    margin-bottom: 30px;
}
.main .article{
    color: #eee;
}
.article .title{
    margin-bottom: 30px;
}
.article .content{
    margin-top: 15px;
    color: #454545;
}